  <div id="item_counter">
    <%= page_entries_info @setlists %>
    <p id="newset">
      <%= link_to image_tag("icon_add.png"), new_setlist_path, class: "icon_add" %>
      <span><%= link_to "NEW SETLIST", new_setlist_path %></span>
    </p><br/>
  </div>

<% if @setlists.active.size == 0 %>

  <div class="empty_track">
      <p>No active setlists found.</p>
  </div>

<% else %>

  <div>

      <%= render 'setlists/display_act' %>

  </div>

<% end %>

