  <div id="item_counter">
    <%= page_entries_info @setlists %>
  </div>

<% if @setlists.archived.size == 0 %>

  <div class="empty_track">
      <p>No archived setlists found.</p>
  </div>

<% else %>

  <div>

      <%= render 'setlists/display_arc' %>

  </div>

<% end %>

