</br>
</br>
<p>
You've made the inexplicable decision to print an empty Setlist.</br>
While you contemplate the direction your life has taken, please read the following note aloud.
</p>

<div id="jabberwock">
</br>
</br>
     <p>Dear Self,</p>
     </br>
     <p>I've made a bad mistake, and I'm sorry.</p>
     <p>I should have considered the consequences of clicking on that button.
          I should have consulted with you first and asked why I would need a
          printout of an empty Setlist, particularly when I have several other
          perfectly good ones that actually contain a few songs - songs that I
          know and love and might like to print out and add to the growing
          collection of things I've stapled to the office wall.</p>
     </br>
     <p>but... I didn't, and I'm sorry.</p>
     </br>
     <p>Sincerely,<p>
     <p>Me</p>
     </br>
     </br>
</div>