<div id="pop_songs"">

	<% sorted = [] %>
	<% tracks = Track.all %>

	<% tracks.each do |t| %>
		<% sorted.push(t) %>
	<% end %>

	<% sorted.sort! {|x,y| y.tracked.setlists.uniq.count <=> x.tracked.setlists.uniq.count } %>

	<h5>RECENT POPULAR SONGS</h5>
	<% sorted.uniq { |p| p.tracked_id }.each do |x| %>
		<table>
			<tr>
				<td class="pop_title">
				<%= link_to "#{truncate(x.tracked.title, length: 36)}", 
						"#{songs_path}" + "?utf8=✓&search=" + "#{x.tracked.title}" %>				
				</td>
				<td>
				appears in
				<span class="green">
					<%= pluralize(x.tracked.setlists.uniq.count, "SETLIST").upcase %>
				</span>
				</td>
			</tr>
		</table>
	<% end %>

</div>
