<div class="recent_com">

	<% sorted = [] %>
	<% tracks = Track.where("updated_at > ?", 15.days.ago) %>

	<% tracks.each do |t| %>
		<% sorted.push(t.tracked) %>
	<% end %>

	<% sorted.sort! {|x,y| y.updated_at <=> x.updated_at } %>
	<% sorted.uniq! { |p| p.id } %>

	<h5>RECENT POPULAR SONGS</h5>
	<% sorted[0..7].each do |x| %>
		<ul>
			<li>
				<%= link_to "#{truncate(x.title, length: 39, separator: ' ')}", 
						"#{songs_path}" + "?utf8=✓&search=" + "#{x.title}" %>				
				appears in 
				<span class="green">
					<%= pluralize(x.setlists.uniq.count, "SETLIST").upcase %>
				</span>
			</li>
		</ul>
	<% end %>

</div>
