<div id="recent_user">

	<% sorted = [] %>

	<% tracks = current_user.tracks %>

	<% tracks.each do |t| %>
		<% sorted.push(t) %>
	<% end %>

	<% sorted.sort! {|x,y| y.updated_at <=> x.updated_at } %> 

	<h5>RECENT SONGS</h5>

	<% if sorted.empty? %>
		<div class="op_content">
			<p>
				It doesn't look like you've used any songs yet.
			</p>
		</div>

	<% else %>
		Songs you recently added to a Setlist:
		<% sorted.uniq { |p| p.tracked_id }.each do |x| %>
		<table id="recent">
			<tr>
				<td>
					<%= link_to "#{truncate(x.tracked.title, length: 44)}", x.tracker %>
				</td>
			</tr>
		</table>
		<% end %>
		
	<% end %>

</div>