<% provide(:title, "Add A Song") %>
<div class="container">

    <div id="sidebar">
      <h4>The Sidebar Headline</h4>
        <p>
            Lorem ipsum Esse nisi proident in in cupidatat proident est culpa laborum. Lorem ipsum Aliqua exercitation ad adipisicing deserunt eu sit in non. Lorem ipsum Proident laboris enim ea id consectetur in eiusmod. 
        </p>
        <ul>
            <li>Lorem ipsum Veniam sunt</li>
            <li>velit in nisi incididunt</li>
            <li>eu id minim dolore</li>
            <li>aliqua commodo officia.</li>
        </ul>
        <p>
            Lorem ipsum Dolore pariatur mollit et ullamco et esse velit.
        </p>
    </div>

    <div id="content_main">
      <div id="addsong">
        <div class="tanwrap_form">
          <div class="content_head">
            <h3>NEW SONG</h3>
          </div>

          <div class="content_body">
            <%= render 'form' %>            
          </div>
          
        </div>
      </div>
    </div>
</div>