/* COLORS                                         */

$white: #fff;

/* main GRADIENT */
$redBrown:      #421d02;
$simpleBrown:   #5b2c10;
$deepBrown:     #150d02;

/* topbar gradient */
$lgBrown:       #433832;
$mgBrown:       #332822;
$gBrown:        #2a1f19;


$sidebar:       #1D1610;
$liteBrown:     #B08D71;
$cream:         #ffcda3;

$linkGray:      #959186;
$grayGreen:     #626054;
$grayWrap:      #f2f6f7;
$grayBorder:    #d7dbda;

$tagBlue:       #4b8289;
$tagBlueK:      #305358;
$tagTan:        #c9ba8f;
$tagPine:       #dab171;
$tagPineK:      #c58e36;
$tagOrange:     #e18752;
$tagForest:     #909962;
$tagLime:       #cad998;

$peachStar:     #e7b59a;

$redBorder:     #CC0000;
