  /* COLORS                                         */

  $white: #fff;

  /* main GRADIENT */
  $redBrown:      #381d02;
  $simpleBrown:   #4b280f;
  $deepBrown:     #150d02;

  /* topbar gradient */
  $lgBrown:       #433832;
  $mgBrown:       #332822;
  $gBrown:        #2a1f19;


  $sidebar:       #1D1610;
  $liteBrown:     #B08D71;
  $cream:         #ffcda3;

  $grayGreen:     #626054;
  $linkGray:      #959186;
  $linkLight:     #b7b4ab;
  $grayWrap:      #f2f6f7;
  $grayBorder:    #d7dbda;
  $grayCream:     #fcf9ee;

  $tagBlue:       #4b8289;
  $tagBlueK:      #305358;
  $tagTan:        #c9ba8f;
  $tagPine:       #dab171;
  $tagPineK:      #c58e36;
  $tagOrange:     #e18752;
  $tagForest:     #909962;
  $tagLime:       #cad998;

  $peachStar:     #e7b59a;

  $redBorder:     #CC0000;


/* HTML MAIN                                       */

  html, body {
    background-color: $deepBrown;
    background: linear-gradient(to bottom, $redBrown, $simpleBrown 40%, $deepBrown) fixed;
    background: #381d02; /* Old browsers */
    background: -moz-linear-gradient(top,  #381d02 0%, #4b280f 40%, #150d02 100%) fixed; /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#381d02), color-stop(40%,#4b280f), color-stop(100%,#150d02)) fixed; /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #381d02 0%,#4b280f 40%,#150d02 100%) fixed; /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #381d02 0%,#4b280f 40%,#150d02 100%) fixed; /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #381d02 0%,#4b280f 40%,#150d02 100%) fixed; /* IE10+ */
    background: linear-gradient(to bottom,  #381d02 0%,#4b280f 40%,#150d02 100%) fixed; /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#381d02', endColorstr='#150d02',GradientType=0 ) fixed; /* IE6-9 */

    font-family: Lucida Grande, Lucida Sans Unicode, sans-serif;
    font-size: small;
  }

  .container {
    text-align: left;
    /*border: 1px dashed black;*/
  }

  .content_head h2 span {
    background: $redBrown;
    padding: 6px 8px 4px 8px;
    border-radius: 4px;
    color: $grayWrap;
    font-size: 90%;
  }

/* NAVIGATION MENU                                 */

  #logo {
    border-top: 2px solid $gBrown;
    /*border-right: 2px solid $gBrown;*/
  }

  #navmenu span a, #navmenu span a:visited {
    color: $liteBrown;
    font-size: 10px;
    text-decoration: none;
    font-weight: bold;
  }

  #navmenu span a:hover {
    color: $cream;
    text-decoration: none;
  }

  #navmenu .dropdown, #navmenu .dropdown a {
    color: $liteBrown;
    font-size: 10px;
    text-decoration: none;
    font-weight: bold;
    &:hover {
      color: $cream;
      text-decoration: none;
      background: none;

    }
  }

  #navmenu .dropdown .caret {
      display: inline-block;
      width: 0px;
      height: 0px;
      vertical-align: top;
      border-top: 4px solid $liteBrown;
      border-right: 4px solid transparent;
      border-left: 4px solid transparent;
      content: "";
  }


  .dropdown-menu li {
    &:hover {
      background: $mgBrown;
    }
  }

  .mainlink h3 {
    line-height: 140%;
  }

  #search_form {
    color: $liteBrown;
    font-weight: bold;
    text-decoration: none;
  }

/* TOP BAR                                         */

  #topbar {
    border-right: 2px solid $gBrown;
    border-left: 2px solid $gBrown;
    /*background: linear-gradient(to bottom, $lgBrown, $mgBrown 30%, $gBrown 55%, $mgBrown);*/
  background: #433832; /* Old browsers */
  background: -moz-linear-gradient(top,  #433832 0%, #332822 30%, #2a1f19 55%, #332822 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#433832), color-stop(30%,#332822), color-stop(55%,#2a1f19), color-stop(100%,#332822)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #433832 0%,#332822 30%,#2a1f19 55%,#332822 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #433832 0%,#332822 30%,#2a1f19 55%,#332822 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #433832 0%,#332822 30%,#2a1f19 55%,#332822 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #433832 0%,#332822 30%,#2a1f19 55%,#332822 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#433832', endColorstr='#332822',GradientType=0 ); /* IE6-9 */
  }

  #topbar span a, #topbar span a:visited {
    color: $liteBrown;
    font-size: 10px;
    text-decoration: none;
    font-weight: bold;
    &:hover {
    color: $cream;
    text-decoration: none;
    }
  }

  #topbar_right {
    color: $liteBrown;
    font-size: 10px;
  }

/* FOOTER                                          */

  #footer {
    background: $sidebar;
    border-top: 1px solid $liteBrown;
  }

  #footer_links span {
    color: $liteBrown;
  }

  #footer_links span a:hover {
    text-decoration: none;
  }

  #footer_links span a, #footer_links span a:visited {
    color: $liteBrown;
    text-decoration: none;
  }

/* SIDEBAR                                         */

  #sidebar {
    background-color: $sidebar;
    font-size: 85%;
  }

  #sidebar h4 {
    border-bottom: 2px solid $mgBrown;
    color: $liteBrown;
    font-family: Arial;
    text-align: center;
  }

  #sidebar p {
    color: $white;
  }

  #sidebar li {
    color: $tagLime;
  }

/* CONTENT                                         */

  #separator {
    height: 24px;
    background: $tagOrange;
  }

  .content_body #item_counter {
    color: $tagBlue;
    font-size: 80%;
    text-align: left;
  }

  .content_body #item_counter #addtrack label {
    color: $linkGray;
    text-align: left;
    line-height: 180%;
    font-size: 16px;
    font-family: Georgia, serif;
  }

  .content_body #item_counter #newset a {
    color: $linkGray;
    text-align: left;
    line-height: 200%;
    font-size: 16px;
    font-family: Georgia, serif;
    text-decoration: none;
  }

  .content_body #item_counter #newsong a {
    color: $linkGray;
    text-align: left;
    line-height: 200%;
    font-size: 16px;
    font-family: Georgia, serif;
    text-decoration: none;
  }

  #content_main {
    /*border: 2px dotted yellow;*/
  }

  .greywrap_top, .greywrap_top_form {
    background-color: $grayWrap;
  }

  .greywrap, .greywrap_form {
    background-color: $grayWrap;
    border: 1px solid $grayWrap;  
  }

  .tanwrap, .tanwrap_form {
    background-color: $grayCream;
    border: 1px solid $grayCream;  
  }

  .tanwrap_top, .tanwrap_top_form {
    background-color: $grayCream;
  }

  .content_head h2, .content_head h3 {
    font-family: Georgia, serif;
    font-weight: normal;
  }

  .colorbox_head h4 {
    font-family: Georgia, serif;
    font-weight: normal;
    /*text-align: center;*/
  }

  .colorbox_body span {
    font-size: 120%;
  }

  .content_head_left {
    /*border-bottom: 1px solid $grayBorder;*/
  }

  .content_body, .colorbox_body, .content_form {
    background-color: $white;
    border: 1px solid $grayBorder;
  }

  .content_body #item_counter {
    color: $tagBlue;
    font-size: 80%;
    text-align: left;
  }

/* FORMS                                           */

  .session_form {
    
  }

  form {
    color: $linkGray;
    font-family: Georgia, serif;
    /*font-size: 80%;*/
  }

  .formbox {
    background-color: $grayWrap;
  }

  .formbox h3 {
    font-family: Georgia, serif;
    font-weight: normal;
  }

  input, textarea, select, .uneditable-input {
    font-size: 12px;
  }

/* SONG LISTS                                        */

  .songlist_title h3, .songlist_title a {
    color: $grayWrap;
    font-family: Georgia, serif;
    font-weight: normal;
    text-decoration: none;
  }

  .songlist_title span a {
    color: $liteBrown;
    font-weight: normal;
    &:hover {
      color: $cream;
      text-decoration: none;
    }
  }

  .songlist_title span {
    color: $liteBrown;
    font-family: Georgia, serif;
    font-size: 90%;
  }

  .song_title {
    font-weight: bold;
  }

  .song_content_left p.meta {
    text-indent: -35px;
  }

  .song_content_right p {
    text-indent: -53px;
  }

  td p {
    line-height: 110%;
    font-size: 90%;
  }

  td span {
    color: $linkGray;
    font-size: 75%;
  }

  .meta {
    font-size: 90%;
  }

  .meta span {
    font-size: 75%;
  }

  .choose_set {
    border: 1px solid $grayBorder;
    border-radius: 4px;
    background: $grayCream;
    form {
    }
    #track_tracker_id {
    }  
    form input {
    }
  }

  .toggle {
        border-top: 1px solid $grayBorder;
  }

/* SET LISTS                                        */

  .setlist_title h3, .setlist_title a {
    color: $grayWrap;
    font-family: Georgia, serif;
    font-weight: normal;
    text-decoration: none;
  }

  .setlist_trail a, .setlist_title span a {
    color: $liteBrown;
    font-weight: normal;
    &:hover {
      color: $cream;
      text-decoration: none;
    }
  }

  .setlist_trail a {
    font-size: 90%;
  }

  .setpiece {
    border-top: 1px solid $grayBorder;
  }

  .setlist_title span, .setlist_trail span {
    color: $liteBrown;
    font-family: Georgia, serif;
    font-size: 90%;
  }

  .setdesc span {
    color: $liteBrown;
    font-size: 95%;
  }

  .setdesc {
    color: $grayBorder;
    font-size: 100%;
    line-height: 180%;
  }

  .set_title {
    font-weight: bold;
  }

  .sort_highlight {
    background: $grayWrap;
    border: 1px dashed $linkGray;
  }

  .track, .empty_track {
    border: 1px solid $grayBorder;
    background: white;
    &.track:hover {
      background: $grayCream;
    }
    &.empty_track {
      text-align: center;
      color: $simpleBrown;
    }
  }

  .track_position {
    /*border: none;*/
    /*box-shadow: none;*/
    /*font-size: 20px;*/
    /*color: $grayBorder;*/
    /*font-family: Georgia, serif;*/
  }

  .track_position input {
    border: none;
    box-shadow: none;
    text-align: center;
    font-size: 20px;
    color: $grayBorder;
    font-family: Georgia, serif;
  }

  .arc_set {
    border-top: 1px solid $grayBorder;
    color: $linkLight;
  }

  #arc_notice {
    border: 1px solid $tagOrange;
    border-radius: 4px;
    background: $white;
  }

/* BUTTONS                                           */

  #link_button a {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
    /*background: linear-gradient(to bottom, $linkGray, $grayGreen);*/
    background: #959186; /* Old browsers */
    background: -moz-linear-gradient(top,  #959186 0%, #626054 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#959186), color-stop(100%,#626054)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #959186 0%,#626054 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #959186 0%,#626054 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #959186 0%,#626054 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #959186 0%,#626054 100%); /* W3C */

    color: #fff;
    text-align:center;
  }

  #button a, #button_blue a, #button_pine a {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
    text-align:center;
    font-size: 80%;
  }

  #button a {
    /*background: linear-gradient(to bottom, $linkGray, $grayGreen);*/
    background: #959186; /* Old browsers */
    background: -moz-linear-gradient(top,  #959186 0%, #626054 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#959186), color-stop(100%,#626054)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #959186 0%,#626054 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #959186 0%,#626054 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #959186 0%,#626054 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #959186 0%,#626054 100%); /* W3C */

    color: $white;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
  }

  #button_blue a {
    /*background: linear-gradient(to bottom, $tagBlue, $tagBlueK);*/
    background: #4b8289; /* Old browsers */
    background: -moz-linear-gradient(top,  #4b8289 0%, #305358 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4b8289), color-stop(100%,#305358)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #4b8289 0%,#305358 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #4b8289 0%,#305358 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #4b8289 0%,#305358 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #4b8289 0%,#305358 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4b8289', endColorstr='#305358',GradientType=0 ); /* IE6-9 */

    color: $white;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
  }

  #button_pine a {
    /*background: linear-gradient(to bottom, $tagPine, $tagPineK);*/
    background: #dab171; /* Old browsers */
    background: -moz-linear-gradient(top,  #dab171 0%, #c58e36 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dab171), color-stop(100%,#c58e36)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #dab171 0%,#c58e36 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #dab171 0%,#c58e36 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #dab171 0%,#c58e36 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #dab171 0%,#c58e36 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dab171', endColorstr='#c58e36',GradientType=0 ); /* IE6-9 */

    color: $white;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
  }

  a.button_flat, a.button_flat:visited {
    background: $grayGreen;
    color: $grayWrap;
    font-size: 80%;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
    text-decoration: none;
    &:hover {
        color: $white;
        text-decoration: none;
      }
  }

  .btn {
    /*background: linear-gradient(to bottom, $tagBlue, $tagBlueK);*/
    background: #4b8289; /* Old browsers */
    background: -moz-linear-gradient(top,  #4b8289 0%, #305358 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4b8289), color-stop(100%,#305358)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #4b8289 0%,#305358 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #4b8289 0%,#305358 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #4b8289 0%,#305358 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #4b8289 0%,#305358 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4b8289', endColorstr='#305358',GradientType=0 ); /* IE6-9 */

    color: $white;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
  }


  a.btn-small, a.btn-small:visited {
    /*background: linear-gradient(to bottom, $linkGray, $grayGreen);*/
    background: #959186; /* Old browsers */
    background: -moz-linear-gradient(top,  #959186 0%, #626054 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#959186), color-stop(100%,#626054)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #959186 0%,#626054 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #959186 0%,#626054 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #959186 0%,#626054 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #959186 0%,#626054 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#959186', endColorstr='#626054',GradientType=0 ); /* IE6-9 */

    color: $white;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
    text-decoration: none;
    &:hover {
        color: $cream;
        text-decoration: none;
      }}

/* TAGS                                           */

  .tags{
    margin:6px;
    margin-top: -3px;
    margin-bottom: 8px;
    padding-top: -2px;
    padding-right: -2px;
    padding-bottom: -2px;
    padding-left: 18px;
    list-style:none;
    width: 650px;
  } 

  .tags_inset {
    margin:6px;
    margin-left: 38px;
    margin-top: -3px;
    padding:-2px;
    list-style:none;
    width: 650px;
  } 

  .tags li, .tags a, .tags_inset li, .tags_inset a{
    /*float:left;*/
    margin-bottom: -3px;
    margin-top: -5px;
    line-height:20px;
    position:relative;
    font-size:10px;
    &:hover {
      background-color: transparent;
      }
    } 
  .tags a, .tags_inset a{
    border-top-left-radius:5px;
    border-top-right-radius:7px;
    border-bottom-left-radius:18px;
    margin-left:-4px;
    padding:2px 6px 2px 11px;
    background:$tagPine;
    color:white;
    text-decoration:none;
  } 

  .tags a:after, .tags_inset a:after{
    content:"";
    position:absolute;
    top:4px;
    left:4px;
    /*float:left;*/
    width:3px;
    height:3px;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
    background:white;
  }

  .tags a:hover, .tags_inset a:hover {
    background:#555;
  } 

  .tags a:hover:before, .tags_inset a:hover:before {
    border-color:transparent #555 transparent transparent;
  }

/* MISCELLANEOUS                                   */

  .gravatar {
    border: 1px solid $grayBorder;
  }

  .users {
    width: 100%;
    margin-left: 6px;
  }

  .users .id {
    width: 7%;
    color: $linkGray;
  }

  .admin {
    width: 13%;
    color: $linkGray;    
  }

  .name {
    width: 25%;
    color: $linkGray;
  }

  .e_address {
    width: 35%;
    color: $linkGray;
  }

  .setlists {
    width: 15%;
    color: $linkGray;
  }

  .remove_icon {
    width: 18px;
    height: 18px;
    float: left;
    margin-left: 9px;
    margin-top: -1px;
    margin-bottom: 0px;
  }

/* ERROR REPORTING                                 */
  #error_explanation {
    color: red;
  }

  li.error input, li.error textarea, li.error select {
    border: 2px solid $redBorder;
  }

/* PAGINATION                                      */

  .pagination > .page_info {
    font-size: 10px;
    color: $linkGray;
  }

  .pagination ul > li {
    font-size: 10px;
  }

  .pagination ul > li > a,
  .pagination ul > li > span {
    line-height: 16px;
    color: $linkGray;
    text-decoration: none;
    background-color: #ffffff;
    border: 1px solid $grayBorder;
  }

  .pagination ul > li > a:hover,
  .pagination ul > li > a:focus,
  .pagination ul > .active > a,
  .pagination ul > .active > span {
    background-color: $grayBorder;
    color: $white;
  }

  .pagination ul > .active > a,
  .pagination ul > .active > span {
    background: $lgBrown;
    border: 1px solid $linkGray;
    color: $white;
    font-weight: bold;
    font-size: 10px;
    cursor: default;
  }

  .pagination ul > .disabled > span,
  .pagination ul > .disabled > a,
  .pagination ul > .disabled > a:hover,
  .pagination ul > .disabled > a:focus {
    color: $grayBorder;
    border: 1px solid $grayBorder;
    cursor: default;
    background-color: transparent;
  }

