  @import "bootstrap";

  @mixin box_sizing {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

/* DEBUG INFO CONTAINER                                 */
  .debug-dump {
    clear: both;
    float: left;
    width: 100%;
    margin-top: 45px;
    @include box_sizing;
  }

  #referer {
    display: none;
  }

/* HTML main                                            */
  html {
    min-height: 100%;
  }

  html, body {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  ::-webkit-scrollbar { display: none; }

  .container {
    width: 1080px;
    margin: 0 auto;
    position: relative;
  }

  p {
    margin-left: 6px;
  }

  #breadcrumb-sm {
    height: 8px;
    width: 8px;
    margin-left: 4px;
    margin-right: 3px;
    margin-bottom: 2px;
  }

  #breadcrumb {
    height: 13px;
    width: 13px;

    margin-bottom: 5px;
  }

/* HEADER                                               */

  #header {
    height: 40px;
  }

  #logo {
    width: 160px;
    height: 22px;
    float: left;
    /*padding-top: 2px;*/
    /*padding: 0;*/
    margin-right: -2px;
    padding-top: -3px;
  }

/* NAVIGATION MENU                                      */

  #navmenu {
    float: left;
    /*margin-top: 4px;*/
    margin-left: 4px;
    padding-left: 18px;
    span a,
    span a:visited {
      margin: 0 12px 0 12px;
      float: right;
    }
  }

  .navitem {
    display: inline;
    margin: 0 24px 0 4px;
  }

  #navmenu div.dropdown,
  #navmenu div.dropdown a {
    display: inline;
    margin: 0 12px 0 6px;
    z-index:1000;
  }

  #navmenu div.hovering div {
    display: block;
  }

/* TOP BAR                                              */

  #topbar {
    width: 918px;
    float: right;
    margin-left: -2px;
  }

  #topbar span {
    float: right;
  }
  
  #topbar span a,
  #topbar span a:visited {
    margin: 0 12px 0 0;
    float: right;
  }

  #topbar_right {
    float: right;
    /*margin-top: 4px;*/
  }

  #topbar_right p {
    display: inline;
    margin: 0 0 0 4px;
    /*padding: 2px 8px 2px 8px;*/
    /*-webkit-border-radius: 3px;*/
       /*-moz-border-radius: 3px;*/
            /*border-radius: 3px;*/
  }

/* SIDEBAR                                              */

  #sidebar {
    width: 230px;
    float: right;
    position: static;
    /*margin-top: 10px;*/
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 0 10px 8px 10px;
  }

  #sidebar h4 {
    margin-top: 6px;
    margin-bottom: 6px;
    padding-bottom: 4px;
  }

/* SEARCH FORM                                          */

  .mainlink {
    /*float: left;*/
    width: 600px;
    padding-top: 8px;

    /*border: 1px dotted green;*/
  }

  #search_form form {
    float: right;
    padding: 3px;
    margin: 0;
  }

  #search_form form input {
    width: 200px;
    -webkit-border-radius: 18px;
       -moz-border-radius: 18px;
            border-radius: 18px;
    margin-top: 1px;
    margin-bottom: 0;
    padding-top: 6px;
    padding-left: 12px;
    padding-right: 10px;
    box-shadow: inset 2px 2px 5px gray;
  }

/* DASHBOARD                                              */

  .welcome h3 {
    margin-top: 0;
    margin-bottom: 3px;
  }

  .welcome_notice {
    padding-top: 8px;
    padding-right: 6px;
  }

  .op_content {
    margin: 12px 12px 12px 4px;
    .option {
        margin: 12px 34px 12px 36px;
        -moz-border-radius:10px;
        -webkit-border-radius:10px;
        border-radius:10px;
        padding: 6px 12px 6px 12px;
    }
  }

  .numeral {
    float: left;
    margin-top: 6px;
  }

  .ucon_new {
    width: 729px;
    margin-right: 4px;
  }

  .ucon_left,
  .ucon_mid,
  .ucon_right,
  .ucon_new {
    display: inline-block;
    height: 240px;
    vertical-align: top;
    margin-bottom: 16px;
    padding-top: 8px;
    padding-left: 10px;
    padding-right: 12px;
    padding-bottom: 12px;
    h5 {
      margin-top: -3px;
      padding-bottom: 3px;
    }
  }

  .ucon_left {
    width: 280px;
  }

  .ucon_mid {
    width: 420px;
    margin-right: 3px;
    margin-left: 3px;
    padding-left: 7px;
    h5 {
      margin-left: 3px;
    }
  }

  .ucon_right {
    width: 288px;
  }

  .comcon_left,
  .comcon_right {
    display: inline-block;
    width: 370px;
    height: 200px;
    vertical-align: top;
    padding-top: 8px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 12px;
    overflow: hidden;
    h5 {
      margin-top: -3px;
      padding-bottom: 3px;
    }
  }

  #pop_songs {
    height: 198px;
    overflow: hidden;
    margin-top: -2px;
    padding-top: 2px;
  }

  #recent_user {
    height: 236px;
    overflow: hidden;
    margin-top: -2px;
    padding-top: 2px;
  }

  .pop_title {
    width: 224px;
  }

  .tag_cloud {
    padding-right: 28px;
    display: inline-block;
    float: left;
    li {
      display: inline;
    }
  }

  .comcon_mid {
    display: inline-block;
    height: 200px;
    width: 251px;
    margin-right: 3px;
    margin-left: 3px;
    vertical-align: top;
    padding-top: 8px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 12px;
    h5 {
      margin-top: -3px;
      padding-bottom: 3px;
    }
  }

  .ucon_left,
  .ucon_mid,
  .ucon_right,
  .ucon_new,
  .comcon_left,
  .comcon_mid,
  .comcon_right {
    border-radius: 20px;
    overflow: hidden;
    h5 {
    }
    a {
    }
    ul {
      margin-left: 6px;
      margin-bottom: 0;
      &:first-child {
        margin-top: 8px;
      }
    }
    span.green,
    span.blue,
    span.orange {
      margin: 0 1px 0 0;
      padding: 2px 6px 1px 4px;
      border-radius: 4px;
    }
    span.green {
      text-align: right;
    }
    span.gray {
      padding: 3px 10px 1px 8px;
      border-radius: 4px;
    }
    span.date {
      float: right;
    }
    span.setsoon {
      float: right;
    }
  }

  .ucon_mid {
    h5 {
      margin-bottom: 0;
    }
  }

  .upcoming {
    margin: 0 0 3px 3px;
    padding: 0 6px 0 6px;
  }

  .consider {
    padding-left: 5px;
    h5 {
      margin-left: -3px;
    }
    .random {
      display: inline-block;
    }
    span.paren {
      display: inline-block;
    }
  }

/* CONTENT                                              */

  .content_body #item_counter {
    padding-bottom: 4px;
    #new {
      float: right;
      width: 152px;
      height: 30px;
      margin-top: -8px; 
      margin-bottom: -6px; 
      padding: 0 12px 0 0;
      label {
        float: right;
      }
      a {
        float: right;
        outline: 0;
        outline-style:none;
        outline-width:0;
      }
    }
  }

  #content_main {
    width: 820px;
    /*float: left;*/
    margin-top: 0;
    padding-top: 2px;
  }

  .greywrap_top {
    height: 9px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .greywrap, .greywrap_form {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
    &.greywrap_form {
      width: 630px;
      padding-top: 4px;
      margin-left: 170px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }
  }

  .tanwrap_top {
    height: 9px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .tanwrap, .tanwrap_form {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
    &.tanwrap_form {
      width: 630px;
      padding-top: 4px;
      margin-left: 170px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }
  }

  .content_head {
    padding-left: 10px;
    padding-right: 12px;
    h3 {
      margin: 0 0 0 0;
    }
  }

  .content_head_left {
    padding-left: 50px;
    padding-right: 12px;
  }

  .content_body {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 12px;
  }

/* SONG LISTS                                        */

  .songlist_title h3 {
    margin-top: 0;
    margin-bottom: 3px;

    /*border: 1px dotted blue;*/
  }

  .song_button_block {
    width: 12px;
    padding-top: 3px;
    vertical-align: top;
  }

  .song_content_left {
    padding-top: 5px;
    padding-bottom: 0px;
    width: 450px;
    padding-left: 24px;
  }

  .song_content_right {
    padding-top: 5px;
    padding-bottom: 0px;
    width: 265px;
  }

  .song_content_left p.meta {
    padding-left: 35px;
  }

  .song_content_right p {
    padding-left: 53px;
  }

  .piece {
    margin-bottom: 4px;
    td {
      padding-right: 10px;
      }
  }

  .meta {
    margin-top: -5px;
    margin-bottom: 5px;
  }

  .assign {
    /*border: 1px dashed blue;*/
  }

  .choose_set {
    width: 720px; 
    margin-top: 6px;
    margin-left: 30px;
    /*margin-right: 12px;*/
    margin-bottom: 6px;
    padding-left: 12px;
    padding-right: 12px;
    form {
      position: center;
      margin-right: auto;
      margin-left: auto;
      margin-top: 4px;
      margin-bottom: 1px;
      height: 48px;
      width: 450px;
      margin-bottom: 6px;
    }
    #track_tracker_id {
      width: 80%;
    }  
    form input {
      float: right;
      margin-top: 23px;
      margin-bottom: 0;
    }
  }

  .toggle {
    height: 0;
    outline: 0;
    outline-style:none;
    outline-width:0;
    cursor: pointer;
  }  

/* SET LISTS                                        */

  .setlist_title h3, h4 {
    margin-top: 0;
    margin-bottom: 3px;
  }

  .setlist_trail {
    /*margin-top: 3px;*/
    margin-bottom: 4px;
  }

  .setdesc, .pdate {
    /*width: 680px;*/
    margin-bottom: 6px;
    margin-top: -12px;
    &.pdate {
      display: none;
    }
  }

  #setlist_info {
    display: none;
  }

  .setsong_left {
    padding-top: 5px;
    padding-bottom: 0px;
    width: 450px;
    /*padding-left: 24px;*/
  }

  .set_content_left, .set_content_right {
    padding-top: 7px;
    padding-bottom: 0px;
    &.set_content_left {
      width: 265px;
    }
    &.set_content_right {
      width: 450px;
    }
  }

  .set_button_block {
    width: 98px;
    padding-top: 3px;
    vertical-align: top;
  }

  .track, .empty_track, .track_locked {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    &.track {
    margin-left: -4px;
    margin-right: -4px;
    margin-bottom: 3px;
    padding-top: 1px;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    }
    &.track_locked {
    margin-left: -4px;
    margin-right: -4px;
    margin-bottom: 3px;
    padding-top: 1px;
    }
    &.empty_track {
      /*height: 40px;*/
      padding-top: 12px;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
    }
  }

  .track_position input, .track_pos_locked {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    float: left;
    width: 30px;
    margin-left: 4px;
    margin-top: 6px;
    padding: 4px 0 2px 0;
    &.track_pos_locked {
      padding: 3px 0 3px 0;
    }
  }

  #trackorder {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .sort_highlight {
    height: 80px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin: 8px;
  }

  .arc_set {
    margin-bottom: 4px;
    td {
      padding-right: 10px;
      }
  }

  .act_set {
    margin-bottom: 3px;
    td {
      padding-right: 10px;
      }
  }

  #arc_notice {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    margin-top: 6px;
    margin-left: 22px;
    margin-right: 62px;
    margin-bottom: 12px;
    padding-top: 12px;
    padding-left: 42px;
    padding-right: 82px;
    padding-bottom: 12px;
    a {
      float: right;
      margin-top: 6px;
    }
  }

/* FORMS                                                */

  .content_form, #setlist_info, #newtrack {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 66px;
    padding-bottom: 12px;
  }

  #user {
    margin-bottom: 20px;
  }

  #session_form {
    padding-right: 32px;
    padding-bottom: 12px;
  }

  #signin {
    float: left;
    /*margin-left: 24px;*/
  }

  #signup {
    float: right;
    margin-right: -20px;
    padding: 0 20px 85px 20px;
  }
  
  .signup_btn {
    margin-top: 40px;
  }

  form {
    margin-top: 12px;
    margin-left: 24px;
  }

  .formbox {
    padding: 12px 44px 20px 24px;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
  }

  .controls {
    height: 32px;
  }

  input, textarea, select, .uneditable-input {
    width: 100%;
    /*padding: 10px;*/
    height: auto !important;
    margin-bottom: 15px;
    margin-top: -5px;
    @include box_sizing;
  }

  #title {
    margin-bottom: 28px;
  }

  #composer, #album, #genre {
    padding: 0;
    margin-bottom: 24px;
  }

  #editcomposer, #editalbum, #editgenre {
    padding: 0;
    margin-bottom: 28px;
  }

  a.add_fields, a.remove_fields.dynamic {
    margin-left: 4px;
  }

  #composer a, #album a, #genre a {
    padding-right: 2px;
    float: right;
  }

  #setlist_performance_date_1i, #setlist_performance_date_3i {
    width: 15%;
  }

  #setlist_performance_date_2i {
    width: 25%;
  }

  #newset_form p {
    float: right;
    font-size: 80%;
    margin-bottom: 3px;
    z-index:1000;
  }

/* BUTTONS                                                */

  #addbutton {
    float: right;
  }

  .btn-small {
    margin-top: 1px;
  }

  #link_button a, #button a, #button_blue a, #button_pine a {
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    padding-top: 4px;
    padding-right: 8px;
    padding-bottom: 4px;
    padding-left: 8px;
  }

  #button a, #button_blue a, #button_pine a {
    float: left;
    margin-left: 8px;
    margin-top: 4px;
    margin-bottom: 4px;
  }

  #link_button a {
    margin: 4px;
  }

  .button_flat {
    float: right;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-right: 4px;
    padding-left: 4px;
  }

  .icon {
    width: 21px;
    height: 21px;
    float: left;
    margin-left: 9px;
    margin-top: 5px;
    margin-bottom: 4px;
  }

  .icon_sm {
    width: 18px;
    height: 18px;
    margin-top: 7px;
    /*padding-left: -3px;*/
    /*float: left;*/
    /*margin-left: 9px;*/
    /*margin-top: 5px;*/
    /*margin-bottom: 4px;*/
  }

  .icon_view {
    width: 21px;
    height: 21px;
    float: left;
    margin-left: 9px;
    margin-top: 5px;
    margin-bottom: 4px;

  }

  .icon_edit {
    width: 24px;
    height: 24px;
    float: left;
    margin-left: 8px;
    margin-top: 4px;
    margin-bottom: 4px;
  }

  #icon_edit_sm {
    width: 18px;
    height: 18px;
    margin-left: 4px;
    margin-bottom: 4px;
  }

  .icon_add {
    width: 23px;
    height: 23px;
    float: left;
    margin-left: 8px;
    margin-top: 3px;
    padding-right: 12px;
  }

  #icon_print {
    width: 20px;
    height: 20px;
    margin-left: 2px;
    margin-bottom: 4px;
  }

/* FOOTER                                               */

  #footer {
    height: 40px;
    opacity: 0.5;
    margin-top: 20px;
  }

  #footer_logo {
    margin-top: 4px;
    float: left;
  }

  #footer_links {
    float: right;
    margin-top: 4px;
  }

  #footer_links {
    span {
    margin: 6px 0 6px 18px;
    padding: 0 4px 0 4px;
    }
  }

  #footer_links span img {
    vertical-align: middle;
    border: none;
  }

/* MISCELLANEOUS                                        */

  .gravatar {
    float: left;
    margin-right: 10px;
  }

  div.ui-dialog form label {
    text-align: left;  
  }

  .clear {
    clear:both;
  }

/* MODAL                                        */

  #none {
    display: none;
  }

/* PAGINATION                                      */

  .pagination {

    width: 780px;
    margin-top: -2px;
    margin-left: -17px;
    margin-bottom: 1px; 
    padding-left: 0;
  }

  .page_info {
    font-size: 10px;
    margin-bottom: .3em;
    margin-left: 10px;
    padding-bottom: 4px;
  }

  .pagination ul > li {
    display: inline;
  }

  .pagination .prev.previous_page a,
  .pagination .prev.previous_page.disabled a {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  .pagination .next.next_page a,
  .pagination .next.next_page.disabled a {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .pagination ul > li > a,
  .pagination ul > li > span {
    margin-right: -1px; 
    padding: 6px 10px;
    line-height: 18px;
  }

/* ERROR REPORTING                                      */

  .notice_nobr {
    top: 40px;
    margin-left: -17px;
    position:absolute;
    z-index:999;
    width:854px;
  }

  .notice_br {
    top: 66px;
    margin-left: -17px;
    position:absolute;
    z-index:999;
    width:854px;
  }

  .notice_desc {
    top: 90px;
    margin-left: -17px;
    position:absolute;
    z-index:999;
    width:854px;
  }

  .notice_sign {
    top: 18px;
    margin-left: 184px;
    position:absolute;
    z-index:999;
    width:680px;
  }

  .notice_greet {
    top: 15px;
    margin-left: 420px;
    position:absolute;
    z-index:999;
    width:400px;
    font-size: 120%;
  }

  .notice_udel {
    top: 8px;
    margin-left: 200px;
    position:absolute;
    z-index:999;
    width:660px;
  }

  .alert,
  .alert-info {
    padding: 5px 30px 4px 30px;
    -webkit-border-top-left-radius: 10px;
       -moz-border-top-left-radius: 10px;
            border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
       -moz-border-top-right-radius: 10px;
            border-top-right-radius: 10px;
  }

  .alert-temp {
    height: 29px;
    margin-left:20px;
    margin-right:20px;
  }

  .alert-greet {
    padding-top: 14px;
    height: 20px;
    margin-left:20px;
    margin-right:20px;   
  }

  .alert-udel {
    padding-top: 8px;
    height: 14px;
    margin-left:20px;
    margin-right:20px;   
  }

  #error_explanation {
    ul {
      list-style: none;
      margin: 0 0 18px 0;
    }
  }

  .field_with_errors {
    @extend .control-group;
    @extend .error;
  }

