/* COLORS                                         */

  $white: #fff;

  /* main GRADIENT */
  $redBrown:      #381d02;
  $simpleBrown:   #4b280f;
  $deepBrown:     #150d02;

  /* topbar gradient */
  $lgBrown:       #433832;
  $mgBrown:       #332822;
  $gBrown:        #2a1f19;


  $sidebar:       #1D1610;
  $liteBrown:     #B08D71;
  $cream:         #ffcda3;

  $grayGreen:     #626054;
  $linkGray:      #959186;
  $linkLight:     #b7b4ab;
  $grayWrap:      #f2f6f7;
  $grayBorder:    #d7dbda;
  $grayCream:     #fcf9ee;

  $tagBlue:       #4b8289;
  $tagBlueK:      #305358;
  $tagTan:        #c9ba8f;
  $tagPine:       #e6c9a2;
  $tagPineK:      #d8b17c;
  $tagOrange:     #e18752;
  $tagForest:     #909962;
  $tagLime:       #cad998;

  $peachStar:     #e7b59a;

  $redBorder:     #CC0000;

/* HTML MAIN                                       */

  html, body {
    background-color: $deepBrown;
    background: linear-gradient(to bottom, $redBrown, $simpleBrown 40%, $deepBrown) fixed;
    background: $redBrown; /* Old browsers */
    background: -moz-linear-gradient(top,  $redBrown 0%, $simpleBrown 40%, $deepBrown 100%) fixed; /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$redBrown), color-stop(40%,$simpleBrown), color-stop(100%,$deepBrown)) fixed; /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  $redBrown 0%,$simpleBrown 40%,$deepBrown 100%) fixed; /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  $redBrown 0%,$simpleBrown 40%,$deepBrown 100%) fixed; /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  $redBrown 0%,$simpleBrown 40%,$deepBrown 100%) fixed; /* IE10+ */
    background: linear-gradient(to bottom,  $redBrown 0%,$simpleBrown 40%,$deepBrown 100%) fixed; /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$redBrown', endColorstr='$deepBrown',GradientType=0 ) fixed; /* IE6-9 */

    font-family: helvetica, arial, sans-serif;
    /*font-size: small;*/
  }

  .container {
    text-align: left;
    /*border: 1px dashed black;*/
  }

  .content_head h2 span {
    background: $redBrown;
    padding: 6px 8px 4px 8px;
    border-radius: 4px;
    color: $grayWrap;
    font-size: 90%;
  }

/* TOP BAR                                         */

  #topbar {
    border-right: 2px solid $gBrown;
    border-left: 2px solid $gBrown;
    /*background: linear-gradient(to bottom, $lgBrown, $mgBrown 30%, $gBrown 55%, $mgBrown);*/
  background: $lgBrown; /* Old browsers */
  background: -moz-linear-gradient(top,  $lgBrown 0%, $mgBrown 30%, $gBrown 55%, $mgBrown 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$lgBrown), color-stop(30%,$mgBrown), color-stop(55%,$gBrown), color-stop(100%,$mgBrown)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  $lgBrown 0%,$mgBrown 30%,$gBrown 55%,$mgBrown 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  $lgBrown 0%,$mgBrown 30%,$gBrown 55%,$mgBrown 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  $lgBrown 0%,$mgBrown 30%,$gBrown 55%,$mgBrown 100%); /* IE10+ */
  background: linear-gradient(to bottom,  $lgBrown 0%,$mgBrown 30%,$gBrown 55%,$mgBrown 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$lgBrown', endColorstr='$mgBrown',GradientType=0 ); /* IE6-9 */
  }

  #topbar span a, #topbar span a:visited {
    color: $liteBrown;
    font-size: 10px;
    text-decoration: none;
    font-weight: bold;
    &:hover {
    color: $cream;
    text-decoration: none;
    }
  }

  #topbar_right {
    color: $linkGray;
    font-size: 10px;
  }

  #topbar_right p {
    color: $grayBorder;
    font-weight: bold;
    /*background: $sidebar;*/
  }

/* FOOTER                                          */

  #footer {
    background: $sidebar;
    border-top: 1px solid $liteBrown;
  }

  #footer_links span {
    color: $grayGreen;
  }

  #footer_links span a,
  #footer_links span a:visited {
    color: $liteBrown;
    text-decoration: none;
  }

  #footer_links {
    span a:hover {
      color: white;
      text-decoration: none;
    }
  }

/* SIDEBAR                                         */

  #sidebar {
    background-color: $sidebar;
    font-size: 85%;
  }

  #sidebar h4 {
    border-bottom: 2px solid $mgBrown;
    color: $liteBrown;
    font-family: 'Georgia';
    text-align: center;
  }

  #sidebar p {
    color: $white;
  }

  #sidebar li {
    color: $tagLime;
  }

/* NAVIGATION MENU                                 */

  #logo {
    border-top: 2px solid $gBrown;
  }

  #navmenu {
    span a, 
    span a:visited {
      color: $liteBrown;
      font-size: 10px;
      text-decoration: none;
      font-weight: bold;
    }
    a:hover {
      color: $cream;
      text-decoration: none;
    }
  }

  .navitem {
    font-size: 11px;
    a,
    a:visited {
      color: $liteBrown;
      text-decoration: none;
      /*font-weight: bold;*/
    }
    a:hover {
      color: $cream;
      text-decoration: none;
    }
  }

  #navmenu .dropdown,
  #navmenu .dropdown a {
    color: $liteBrown;
    font-size: 11px;
    text-decoration: none;
    /*font-weight: bold;*/
    &:hover {
      color: $cream;
      text-decoration: none;
      background: none;
    }
  }

  #navmenu .dropdown li a {
    font-family: helvetica, arial, sans-serif;
    font-size: 12px;
    text-decoration: none;
    &:hover {
      color: $cream;
      text-decoration: none;
      background: none;
    }
  }

  #navmenu .dropdown .caret {
      display: inline-block;
      width: 0px;
      height: 0px;
      vertical-align: top;
      border-top: 4px solid $liteBrown;
      border-right: 4px solid transparent;
      border-left: 4px solid transparent;
      content: "";
  }

  .dropdown-menu li {
    &:hover {
      background: $mgBrown;
    }
  }

  .mainlink h3 {
    line-height: 100%;
  }

  #search_form {
    color: $liteBrown;
    font-weight: bold;
    text-decoration: none;
  }

/* SEARCHFORM                                         */

  #search_form form input {
    font-size: 12px;
  }

/* DASHBOARD                                         */

  .welcome h3 {
    span {
      color: $linkGray;
      font-family: 'Georgia', serif;
      font-size: 70%;
      font-weight: normal;
    }
  }

  .welcome_notice h3 {
    color: $grayWrap;
    font-family: 'Georgia', serif;
    /*text-align: right;*/
    font-weight: normal;
    text-decoration: none;
    line-height: 100%;
    a {
      color: $grayWrap;
    }
  }

  .op_content {
    font-size: 95%;
    p {
      text-align: center;
    }
    .option {
      border: 1px solid $grayBorder;
      background: $grayWrap;
    }
    span {
      color: $liteBrown;
      font-weight: bold;
    }
  }

  .numeral {
    color: $grayBorder;
    font-size: 20px;
    font-family: 'Georgia', serif;
  }  

  .ucon_left,
  .ucon_mid,
  .ucon_right,
  .comcon_left,
  .comcon_mid,
  .comcon_right {
    font-size: 88%;
    color: $linkGray;
  }

  .ucon_left,
  .ucon_mid,
  .ucon_right,
  .ucon_new,
  .comcon_left,
  .comcon_mid,
  .comcon_right {
    border: 1px solid $grayBorder;
    background-color: $white;
    a {
      /*font-weight: bold;*/
    }
    ul {
      list-style-type: none;
      }
    span.green {
      color: white;
      background-color: $tagForest;
      font-size: 90%;
      a {
        color: white;
        font-size: 110%;
      }
    }
    span.blue {
      color: white;
      background-color: $tagBlue;
      font-size: 90%;
    }
    span.orange {
      color: white;
      background-color: $tagOrange;
      font-size: 90%;
    }
    span.gray {
      background-color: $linkGray;
      font-size: 90%;
      a {
        color: white;
        font-size: 110%;
        text-align: center;
      }
    }
    span.setsoon {
      font-weight: bold;
    }
  }

  .ucon_left,
  .ucon_right,
  .ucon_new,
  .comcon_left,
  .comcon_mid,
  .comcon_right {
    h5 {
      border-bottom: 1px solid $grayBorder;
      color: black;
      text-align: center;
    }
  }

  .ucon_mid {
    h5 {
    color: black;
    text-align: center;
    }
  }

  #soonhead {
    h5 {
    border: none;
    }
  }

  .upcoming {
    color: $tagOrange;
    border: 1px solid $grayBorder;
    background: $grayWrap;
    a {
      /*color: black;*/
    }
  }

  .ucon_new {
    border: 1px solid $grayBorder;
    box-shadow: inset 4px 6px 10px gray;
  }

  .consider {
    color: black;
    .random {
      line-height: 120%;
    }
    span.paren {
      font-size: 90%;
      color: $linkGray;
    }
  }

/* CONTENT                                         */

  .content_body #item_counter {
    color: $tagBlue;
    font-size: 80%;
    text-align: left;
  }

  .content_body #item_counter {
    #new label, #new label a {
      color: $linkGray;
      text-align: left;
      line-height: 180%;
      font-size: 16px;
      font-family: 'Georgia', serif;
      text-decoration: none;
    }
  }

  #content_main {
    /*border: 2px dotted yellow;*/
  }

  .greywrap_top, .greywrap_top_form {
    background-color: $grayWrap;
  }

  .greywrap, .greywrap_form {
    background-color: $grayWrap;
    border: 1px solid $grayWrap;  
  }

  .tanwrap, .tanwrap_form {
    background-color: $grayCream;
    border: 1px solid $grayCream;  
  }

  .tanwrap_top, .tanwrap_top_form {
    background-color: $grayCream;
  }

  .content_head h2,
  .content_head h3,
  .content_head h4 {
    color: $linkGray;
    font-family: 'Georgia', serif;
    font-weight: normal;
  }

  .colorbox_head h4 {
    font-family: 'Georgia', serif;
    font-weight: normal;
    /*text-align: center;*/
  }

  .colorbox_body span {
    font-size: 120%;
  }

  .content_head_left {
    /*border-bottom: 1px solid $grayBorder;*/
  }

  .content_body, 
  .colorbox_body, 
  .content_form {
    background-color: $white;
    border: 1px solid $grayBorder;
  }

  .content_body #item_counter {
    color: $tagBlue;
    font-size: 80%;
    text-align: left;
  }

/* FORMS                                           */

  #signup,
  #signin {
    border: 1px solid $grayBorder;
    border-radius: 10px;
  }

  #user {
    vertical-align: top;
    color: $linkGray;
    text-align: center;
    font-size: 10px;
  }

  form {
    color: $linkGray;
    font-family: 'Georgia', serif;
    /*font-size: 80%;*/
  }

  .formbox {
    background-color: $grayWrap;
  }

  .formbox h3 {
    font-family: 'Georgia', serif;
    font-weight: normal;
  }

  input, textarea, select, .uneditable-input {
    font-size: 12px;
  }

/* SONG LISTS                                        */

  .songlist_title h3, .songlist_title a {
    color: $grayWrap;
    font-family: 'Georgia', serif;
    font-weight: normal;
    text-decoration: none;
  }

  .songlist_title span a {
    color: $liteBrown;
    font-weight: normal;
    &:hover {
      color: $cream;
      text-decoration: none;
    }
  }

  .songlist_title span {
    color: $liteBrown;
    font-family: 'Georgia', serif;
    font-size: 90%;
  }

  .song_title {
    font-weight: bold;
  }

  .song_title_locked {
    font-weight: bold;
    color: $linkGray;    
  }

  .song_content_left p.meta {
    text-indent: -35px;
  }

  .song_content_right p {
    text-indent: -53px;
  }

  .song {
    /*&:hover {*/
      /*background: $grayCream;*/
    /*}*/
  }

  td p {
    line-height: 110%;
    font-size: 90%;
  }

  td span {
    color: $linkGray;
    font-size: 75%;
  }

  .meta {
    font-size: 90%;
  }

  .meta span {
    font-size: 75%;
  }

  .choose_set {
    border: 1px solid $grayBorder;
    border-radius: 4px;
    background: $grayCream;
    form {
    }
    #track_tracker_id {
    }  
    form input {
    }
  }

  .toggle {
    border-top: 1px solid $grayBorder;
  }

/* SET LISTS                                        */

  .setlist_title {
    h3, h4, a {
    color: $grayWrap;
    font-family: 'Georgia', serif;
    font-weight: normal;
    text-decoration: none;
    }
  }

  .setlist_trail a, .setlist_title span a {
    color: $liteBrown;
    font-weight: normal;
    &:hover {
      color: $cream;
      text-decoration: none;
    }
  }

  .setlist_trail a {
    font-size: 90%;
  }

  .act_set {
    border-top: 1px solid $grayBorder;
  }

  .setlist_title span, .setlist_trail span {
    color: $liteBrown;
    font-family: 'Georgia', serif;
    font-size: 90%;
  }

  .setdesc, .pdate {
    color: $grayBorder;
    font-size: 100%;
    line-height: 180%;
  }

  .set_title {
    font-weight: bold;
  }

  .sort_highlight {
    background: $grayWrap;
    border: 1px dashed $linkGray;
  }

  .track, .empty_track, .track_locked {
    border: 1px solid $grayBorder;
    background: white;
    &.track:hover {
      background: $grayCream;
    }
    &.empty_track {
      text-align: center;
      color: $simpleBrown;
    }
  }

  #pmessage {
    display: none;
    text-align: left;
    padding-left: 100px;
    #jabberwock {
      font-family: Courier, monospace;
      text-align: left;
      /*padding-left: 75px;*/
      padding-right: 75px;
    }
  }

  .track_position input, .track_pos_locked {
    border: 1px solid $grayWrap;
    box-shadow: inset 1px 2px 3px $linkLight;
    text-align: center;
    font-family: Lucida Grande, sans-serif;
    font-size: 12px;
    color: $linkGray;
    &.track_pos_locked {
      box-shadow: none;
      border: none;
      /*background: $grayBorder;*/
      /*color: white;*/
    }
  }

  .arc_set {
    border-top: 1px solid $grayBorder;
    color: $linkLight;
  }

  #arc_notice {
    border: 1px solid $tagOrange;
    border-radius: 4px;
    background: $white;
  }

/* BUTTONS                                           */

  #link_button a {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
    /*background: linear-gradient(to bottom, $linkGray, $grayGreen);*/
    background: $linkGray; /* Old browsers */
    background: -moz-linear-gradient(top,  $linkGray 0%, $grayGreen 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$linkGray), color-stop(100%,$grayGreen)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  $linkGray 0%,$grayGreen 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  $linkGray 0%,$grayGreen 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  $linkGray 0%,$grayGreen 100%); /* IE10+ */
    background: linear-gradient(to bottom,  $linkGray 0%,$grayGreen 100%); /* W3C */

    color: #fff;
    text-align:center;
  }

  #button a, #button_blue a, #button_pine a {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
    text-align:center;
    font-size: 80%;
  }

  #button a {
    /*background: linear-gradient(to bottom, $linkGray, $grayGreen);*/
    background: $linkGray; /* Old browsers */
    background: -moz-linear-gradient(top,  $linkGray 0%, $grayGreen 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$linkGray), color-stop(100%,$grayGreen)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  $linkGray 0%,$grayGreen 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  $linkGray 0%,$grayGreen 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  $linkGray 0%,$grayGreen 100%); /* IE10+ */
    background: linear-gradient(to bottom,  $linkGray 0%,$grayGreen 100%); /* W3C */

    color: $white;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
  }

  #button_blue a {
    /*background: linear-gradient(to bottom, $tagBlue, $tagBlueK);*/
    background: $tagBlue; /* Old browsers */
    background: -moz-linear-gradient(top,  $tagBlue 0%, $tagBlueK 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$tagBlue), color-stop(100%,$tagBlueK)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  $tagBlue 0%,$tagBlueK 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  $tagBlue 0%,$tagBlueK 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  $tagBlue 0%,$tagBlueK 100%); /* IE10+ */
    background: linear-gradient(to bottom,  $tagBlue 0%,$tagBlueK 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$tagBlue', endColorstr='$tagBlueK',GradientType=0 ); /* IE6-9 */

    color: $white;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
  }

  #button_pine a {
    /*background: linear-gradient(to bottom, $tagPine, $tagPineK);*/
    background: $tagPine; /* Old browsers */
    background: -moz-linear-gradient(top,  $tagPine 0%, $tagPineK 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$tagPine), color-stop(100%,$tagPineK)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  $tagPine 0%,$tagPineK 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  $tagPine 0%,$tagPineK 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  $tagPine 0%,$tagPineK 100%); /* IE10+ */
    background: linear-gradient(to bottom,  $tagPine 0%,$tagPineK 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$tagPine', endColorstr='$tagPineK',GradientType=0 ); /* IE6-9 */

    color: $white;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
  }

  a.button_flat, a.button_flat:visited {
    background: $grayGreen;
    color: $grayWrap;
    font-size: 80%;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
    text-decoration: none;
    &:hover {
        color: $white;
        text-decoration: none;
      }
  }

  .btn, .btn-large {
    /*background: linear-gradient(to bottom, $tagBlue, $tagBlueK);*/
    background: $tagBlue; /* Old browsers */
    background: -moz-linear-gradient(top,  $tagBlue 0%, $tagBlueK 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$tagBlue), color-stop(100%,$tagBlueK)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  $tagBlue 0%,$tagBlueK 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  $tagBlue 0%,$tagBlueK 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  $tagBlue 0%,$tagBlueK 100%); /* IE10+ */
    background: linear-gradient(to bottom,  $tagBlue 0%,$tagBlueK 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$tagBlue', endColorstr='$tagBlueK',GradientType=0 ); /* IE6-9 */
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
    a {
      color: $white;
      text-decoration: none;
    }
  }


  .btn-small, .btn-small:visited {
    /*background: linear-gradient(to bottom, $linkGray, $grayGreen);*/
    background: $linkGray; /* Old browsers */
    background: -moz-linear-gradient(top,  $linkGray 0%, $grayGreen 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$linkGray), color-stop(100%,$grayGreen)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  $linkGray 0%,$grayGreen 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  $linkGray 0%,$grayGreen 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  $linkGray 0%,$grayGreen 100%); /* IE10+ */
    background: linear-gradient(to bottom,  $linkGray 0%,$grayGreen 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$linkGray', endColorstr='$grayGreen',GradientType=0 ); /* IE6-9 */

    color: $white;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
    text-decoration: none;
    &:hover {
        color: $cream;
        text-decoration: none;
      }
    }

/* TAGS                                           */

  .tags,
  .tags_inset {
    margin:6px;
    margin-top: -3px;
    padding:-2px;
    list-style:none;
    width: 650px;
    &.tags {
      margin-left: 36px;
    }
    &.tags_inset {
      margin-left: 46px;
    }
  }

  .tag_cloud {
    /*margin:6px;*/
    margin-top: -3px;
    padding:-2px;
    list-style:none;
  }

  .tags p, 
  .tags a,
  .tags_inset p, 
  .tags_inset a,
  .tag_cloud p,
  .tag_cloud a {
    /*float:left;*/
    margin-bottom: -3px;
    margin-top: -5px;
    line-height:20px;
    position:relative;
    font-size:10px;
    &:hover {
      background-color: transparent;
      }
    }

  .tags p,
  .tags_inset p,
  .comtags p {
    margin-left: -3px;
  }
    
  .tags a,
  .tags_inset a,
  .tag_cloud a {
    border-top-left-radius:5px;
    border-top-right-radius:7px;
    border-bottom-left-radius:18px;
    margin-left:-4px;
    padding:2px 6px 2px 11px;
    background:$tagPine;
    color:white;
    text-decoration:none;
  }

  .tag_cloud a {
    margin-left: 1px;
  }

  .tags a:after, 
  .tags_inset a:after,
  .tag_cloud a:after
  {
    content:"";
    position:absolute;
    top:4px;
    left:4px;
    /*float:left;*/
    width:3px;
    height:3px;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
    background:white;
  }

  .tags a:hover, 
  .tags_inset a:hover,
  .tag_cloud a:hover {
    background:#555;
  } 

  .tags a:hover:before,
  .tags_inset a:hover:before,
  .tag_cloud a:hover:before {
    border-color:transparent #555 transparent transparent;
  }

  .tag_cloud {
    line-height: 200%;
    .s { font-size: 5px; }
    .m { font-size: 8px; }
    .l { font-size: 13px; }
  }

/* MISCELLANEOUS                                   */

  .gravatar {
    border: 1px solid $grayBorder;
  }

  .users {
    width: 100%;
    margin-left: 6px;
    tr:nth-child(even) { background-color:$grayWrap; }
  }

  .users .id {
    width: 4%;
    color: $linkGray;
  }

  .admin {
    width: 7%;
    color: $linkGray;    
  }

  .name {
    width: 24%;
    color: $linkGray;
  }

  .e_address {
    width: 26%;
    color: $linkGray;
  }

  .setlists {
    width: 10%;
    color: $linkGray;
  }

  .usertracks {
    width: 10%;
    color: $linkGray;
  }

  .activity {
    width: 16%;
    color: $linkGray;
  }

  .remove_icon {
    width: 18px;
    height: 18px;
    float: left;
    margin-left: 9px;
    margin-top: -1px;
    margin-bottom: 0px;
  }

/* ERROR REPORTING                                 */

  .alert {
    font-size: 90%;
    line-height: 120%;
    text-align: center;
    /*border: 1px solid $gBrown;*/
    box-shadow: inset 1px 2px 3px $grayGreen;
  }

  .alert_greet {
    /*line-height: 120%;*/
    text-align: center;
    /*border: 1px solid $gBrown;*/
    box-shadow: inset 1px 2px 3px $grayGreen;
  }

  #error_explanation {
    color: red;
    font-size: 90%;
  }

  li.error input, li.error textarea, li.error select {
    border: 2px solid $redBorder;
  }

/* PAGINATION                                      */

  .pagination > .page_info {
    font-size: 10px;
    color: $linkGray;
  }

  .pagination ul > li {
    font-size: 10px;
  }

  .pagination ul > li > a,
  .pagination ul > li > span {
    line-height: 16px;
    color: $linkGray;
    text-decoration: none;
    background-color: #ffffff;
    border: 1px solid $grayBorder;
  }

  .pagination ul > li > a:hover,
  .pagination ul > li > a:focus,
  .pagination ul > .active > a,
  .pagination ul > .active > span {
    background-color: $grayBorder;
    color: $white;
  }

  .pagination ul > .active > a,
  .pagination ul > .active > span {
    background: $lgBrown;
    border: 1px solid $linkGray;
    color: $white;
    font-weight: bold;
    font-size: 10px;
    cursor: default;
  }

  .pagination ul > .disabled > span,
  .pagination ul > .disabled > a,
  .pagination ul > .disabled > a:hover,
  .pagination ul > .disabled > a:focus {
    color: $grayBorder;
    border: 1px solid $grayBorder;
    cursor: default;
    background-color: transparent;
  }
